@{
    ViewBag.Title = "Budget Webpage";
}
<h2>@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>*@

<p>The Budget Webpage application will be a web application available to computer and smartphone users.  The application will provide access to a Commerce Bank account.  The app will allow Commerce Bank account holders to check their balance and set, track, and modify budgets related to transaction sources and types.</p>
