@{
    ViewBag.Title = "Team 2";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    534 R. H. Flarsheim Hall<br />
    5110 Rockhill Road<br />
    Kansas City, MO 64110<br />
    <abbr title="Phone">P:</abbr>
    816-235-2399
</address>

<address>
    <strong>Matthew Pearson:</strong> <a href="mailto:mvpd58@mail.umkc.edu">mvpd58@mail.umkc.edu</a><br />
    <strong>John Goza:</strong> <a href="mailto:jgkp9@mail.umkc.edu">jgkp9@mail.umkc.edu</a><br />
    <strong>Joshua Brown:</strong> <a href="mailto:jmbp77@mail.umkc.edu">jmbp77@mail.umkc.edu</a><br />
    <strong>Zach Fiskin:</strong> <a href="mailto:zmfdm6@mail.umkc.edu">zmfdm6@mail.umkc.edu</a>
</address>