@model IEnumerable<BudgetWebpage.Models.Account>

@{
    ViewBag.Title = "Accounts";
}

<h2>Your Accounts</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account_Total)
        </th>
        
       
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Account_Type)
            </td>

            <td>
                $@Html.DisplayFor(modelItem => item.Account_Total)
            </td>
            
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.Account_Number })
            </td>
        </tr>
    }

</table>
